* {
  margin: 0;
  padding: 0;
}

ul { /* Mine */
  list-style-type: none; /* Mine */
} /* Mine */

.container {
  text-align: center;
  display: grid; /* Mine */
  grid-template-columns: 1fr 4fr; /* Mine */
  gap: 4px; /* Mine */
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  display: grid; /* Mine */
  grid-template-columns: 1fr 1fr; /* Mine */
  grid-column: 1 / 3; /* Mine */
}

.menu ul,
.menu li {
  font-size: 16px;
}

.menu ul { /* Mine */
  display: grid; /* Mine */
  grid-template-columns: 1fr 1fr 1fr 1fr; /* Mine */
} /* Mine */

.sidebar {
  background-color: #FF7755;
  grid-column: 1 / span 1; /* Mine */
  grid-row: 2 / 4; /* Mine */
  display: grid; /* Mine */
  gap: 50px; /* Mine */
}

.photo, /* Mine */
.side-content { /* Mine */
  display: grid; /* Mine */
  align-items: center; /* Mine */
} /* Mine */

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}

.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #FF7755;
}

.nav ul { /* Mine */
  display: grid; /* Mine */
  grid-template-columns: 1fr 1fr 1fr; /* Mine */
} /* Mine */

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;
  grid-column: 2; /* Mine */
  display: grid; /* Mine */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Mine */
  gap: 15px; /* Mine */
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card { /* Mine */
  height: 200px; /* Mine */
} /* Mine */

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-column: 1 / 3; /* Mine */
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}
